*{
    padding: 0;
    margin: 0;

}

.contaner{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    font-family: sans-serif;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.logo, a, .logo-img{
    width: 40px;
    margin-right: 30px;
}

.nav-bar, ul{
    display: flex;
    align-items: center;
    
}

ul, li{
    display: inline-block;
    
}

li, a{
    text-decoration: none;
    padding: 5px;
    color: #fff;
}

.content{
color: #fff;
display: flex;
justify-content: space-between;
width: 80%;
margin: auto;

}

.text{
width: 40%;
margin: 20px 10px;
}

h2{
    margin: 10px 0 ;
    font-size: 30px;
}

p{
    margin: 5px 0 30px;
    font-size: 18px;
}

.btn{
    background-color: #fff;
    color: black;
    padding: 5px;
   
    border-radius: 20px;
}
.iphone {
    display: flex;
    justify-content: center;

}
.iphone-img{
    width: 80%;
    height: 90%;
}

.poster{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.thems{
    
    display: flex;
    margin: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
    

}

.thems img{
width: 40px;
transition: .5s;
cursor: pointer;
}

.thems img:hover{

    transform: scale(1.2);
}

.color-name{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}



.imges{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    
    
}

.imges img{
    margin: 20px;
    max-height: 300px;
    width: 100%;
    
}

